@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1F2B48;
  overflow-x: hidden;
}

rect,
.grid-b-text,
.hover-text-green,
.hover-text-violet,
.hover-text-blue,
.hover-text-orange {
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}

.blue,
.orange,
.green,
.violet {
  cursor: pointer;
}